.app {
  color: #E0E0E0;
  background-color: #202020;
}

.controls {
  display: felx;
  gap: 30px;
  background-color: #2A2A2A;
  border-bottom: 2px solid #333;
  border-top: 2px solid #333;
  margin: 20px 0;
  align-items: flex-start;
  padding: 10px;
}

.controls-section {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
}

.input-group {
  margin-bottom: 10px;
}

.form-check {
  display: inline-block;
  margin-left: 10px;
}

#proc {
  height: 100%;
  box-sizing: border-box;
}





